{
  "presets": [
    "react",
    ["es2015", { "modules": false }],
    "es2017",
    "stage-2"
  ],
  "env": {
    "production": {
      "plugins": [
        "minify-dead-code-elimination",
        "transform-inline-consecutive-adds",
        "transform-react-remove-prop-types",
        "ramda"
      ]
    },
    "test": {
      "presets": ["es2015", "es2017", "react", "stage-2"]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "styled-name"
      ]
    }
  }
}
